* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}


.showcase
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #5c5d5e;
  mix-blend-mode: overlay;
  background: #03a9f4;
  
}

.overlay video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate( -50%);
	z-index: 100;


}


.hero_password::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/fondo-2.jpg');
	background-size: cover;
	background-position-x: -200px;
	clip-path: inset(0 50% 0 0);
	z-index: -1;
}

.container__vector img {
	position: absolute;
	bottom: 50px;
	right: 0px;
	width: 300px;
	transition: all 300ms;
	animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector {
	0% {
		transform: translateY(10px);
	}

	25% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(10px);
	}
}

.hero_authentication::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/fondo-3.jpg');
	background-size: cover;
	background-position-x: -200px;
	clip-path: inset(0 50% 0 0);
	z-index: -1;
}

.wave {
	position: fixed;
	bottom: 0;
	left: 0%;
	height: 100%;
	z-index: -1;

}

.container {
	background-color: #000;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;


}

.description {
	margin-bottom: 20px;
	color: #01fff2;
}

.inputs-container {
	margin-top: 30px;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

}

.imagen_logo {
	width: 300px;
	height: 200px;
	color: #01fff2;
}

form {
	width: 360px;
}

.login-content img {
	height: 100px;


}



.container_register {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.login-content h2 {
	margin: 15px 0;
	color: rgb(0, 234, 255);
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div {
	margin-top: 0;
}

.one {
	margin-top: 10px;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.redirecciones {
	width: 300px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 20px;
}

.i i {
	transition: .3s;
}

.input-div>div {
	position: relative;
	height: 45px;
}

.input-div>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background: rgb(0, 234, 255);
	background: linear-gradient(90deg, rgba(0, 234, 255, 1) 0%, rgba(9, 108, 121, 1) 47%, rgba(0, 255, 207, 0.9094012605042017) 100%);
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus>div>h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus>.i>i {
	color: #01fff2;
}

.input-div>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #01fff2;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover {
	color: #1fd7ec;
}

.btn {
	background: rgb(0, 234, 255);
	background: linear-gradient(90deg, rgba(0, 234, 255, 1) 0%, rgba(18, 102, 187, 1) 44%, rgba(117, 0, 255, 0.9094012605042017) 91%);
	box-shadow: 1px 1px 30px -5px #ffeded49;
	transition: box-shadow 500ms;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-size: 200%;
	font-size: 1.2rem;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	box-shadow: 0 0 1rem #00d5ff;
}


@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}

	.container__vector img {
		width: 100px;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}

	video {
		display: none;
	}

	.img,
	.hero {
		display: none;
	}

	.wave {
		display: none;
	}

	.login-content {
		justify-content: center;
	}


}